<!DOCTYPE html>
<html>

<%- include(`partials/head`); %>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
	
	<!-- INSERT CODE HERE -->
	
	<!-- POMOĆNI DIO 
	
	<div class="centered-container">
        <h1 class="decorated-title font-secondary main-color">Create new
            <span class="main-color-emphasized"> Partner</span></h1>
        <div class="separator"></div>
    </div>
    <section class="section secondary-color-bg">
        <div class="container">
			<form action=" --- " method=" --- ">
                <fieldset class="fieldset">
                    <div class="label-input">
                        <label for="---"> --- </label>
                        <input type="---" name="---" id="---" size=" --- ">
                    </div>
					<div class="label-input">
                        <label for="---">Partner for:</label>
                        (...)
                        <%- include(`partials/_select`); %>
                    </div>
                    <hr>
                    <div class="submitButtons">
                        <input type="---" class="btn" >
                        <input type="---" class="btn" >
                    </div>
                </fieldset>
            </form>
		</div>
    </section>	
		
    -->        
	
</main>

<%- include(`partials/footer`); %>

</body>

</html>